.idea/
.php_cs.cache
.php_cs
.web-server-pid
app/config/parameters.yml
var/*
!var/cache
var/cache/*
!var/cache/.gitkeep
!var/logs
var/logs/*
!var/logs/.gitkeep
!var/sessions
var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/
composer.phar
phpunit.xml
phpcs.xml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
