# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     mysql
    database_port:     ~
    database_name:     integrated
    database_user:     integrated
    database_password: integrated

    mailer_transport:  smtp
    mailer_host:       'mail:1025'
    mailer_user:       ~
    mailer_password:   ~
    mailer_from:       ~
    mailer_name:       ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    mongodb_server:    mongodb://mongo:27017
    mongodb_database:  integrated
    mongodb_options:   { authSource: integrated, db: integrated, username: integrated, password: integrated }

    solr_host:         solr
    solr_username:     ~
    solr_password:     ~
    solr_core:         integrated
    solr_port:         8983
    solr_timeout:      200

    recaptcha_site_key: ~
    recaptcha_secret_key: ~

    bower_bin:         /usr/bin/bower

    twitter_consumer_key: "twitter_consumer_key"
    twitter_consumer_secret: "twitter_consumer_secret"
    facebook_app_id: "facebook_app_id"
    facebook_app_secret: "facebook_app_secret"
